<div class="container py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="container-title">
            <h1 class="title">Orders</h1>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="inputbox p-0 m-3 text-center">
            <input
              type="text"
              class="form-control mx-1"
              placeholder="Search ..."
              [(ngModel)]="searchOrder"
            />
            <button
              class="btn btn-info"
              (click)="search()"
              style="font-size: 0.8em"
            >
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0 table-striped">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th class="sort">
                    Order Date
                    <button class="btn" (click)="sortOrdersByDate()">
                      <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                  </th>
                  <th>Customer ID</th>
                  <th>Payment Method</th>
                  <th>Status</th>
                  <th colspan="2">Delivery Address</th>
                  <th class="sort">
                    Order Total
                    <button class="btn" (click)="sortOrdersByTotal()">
                      <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders | paginate : paginationConfig">
                  <td>
                    <h6 class="id text-primary id">#{{ order.id }}</h6>
                  </td>
                  <td>
                    <span class="order-info text-xs font-weight-bold mb-0">
                      {{ order.dateCreated }}
                    </span>
                  </td>
                  <td class="text-center customer-id">
                    <a
                      class="order-info mb-0 id"
                      (click)="ViewCustomerDetail(order.customerId)"
                      style="
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                      "
                    >
                      #{{ order.customerId }}
                    </a>
                  </td>
                  <td class="text-center">
                    <span class="order-info">
                      {{ order.paymentMethod }}
                    </span>
                  </td>

                  <td class="text-center text-sm">
                    <span
                      class="badge"
                      [ngClass]="{
                        pending: order.status === 'pending',
                        dispatched: order.status === 'dispatched',
                        completed: order.status === 'completed',
                        other: !['pending', 'dispatched', 'completed'].includes(
                          order.status
                        )
                      }"
                    >
                      {{ order.status }}
                    </span>
                  </td>
                  <td colspan="2">
                    <span class="order-info">
                      {{ order.deliveryAddress }}
                    </span>
                  </td>
                  <td class="text-center">
                    <span class="order-info">
                      {{ order.total | currency }}
                    </span>
                  </td>
                  <td>
                    <button
                      class="btn btn-info btn-sm mx-1"
                      (click)="ViewOrderDetail(order.id)"
                    >
                      Details
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center my-3">
  <pagination-controls
    id="orders"
    previousLabel="Previous"
    nextLabel="Next"
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>
