<div class="container py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="container-title">
            <h1 class="title">Customer {{ customer.fullName }}</h1>
          </div>
        </div>
        <div class="card-body px-0 pb-2 px-4">
          <div class="form">
            <div class="row">
              <div class="form-group col-6">
                <label for="id">Customer ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  placeholder="Enter customer ID"
                  [(ngModel)]="customer.id"
                  disabled
                />
              </div>
              <div class="form-group col-6">
                <label for="name">Customer Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [(ngModel)]="customer.fullName"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Enter customer username"
                  [(ngModel)]="customer.userName"
                  disabled
                />
              </div>
              <div class="form-group col-6">
                <label for="phone">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  placeholder="Enter customer number"
                  [(ngModel)]="customer.phone"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                <label for="address">Address</label>
                <div>
                  <textarea
                    class="form-control"
                    id="address"
                    [ngModel]="customer.address"
                    disabled
                  >
                  </textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="order">Order</label>
              <table class="table table-responsive table-striped">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th colspan="2">Date</th>
                    <th colspan="2">Total</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders">
                    <td class="id">#{{ order.id }}</td>
                    <td colspan="2">{{ order.dateCreated }}</td>
                    <td colspan="2">
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="order.total"
                        disabled
                      />
                    </td>
                    <td>
                      <span
                        class="badge"
                        [ngClass]="{
                          pending: order.status === 'pending',
                          dispatched: order.status === 'dispatched',
                          completed: order.status === 'completed',
                          other: ![
                            'pending',
                            'dispatched',
                            'completed'
                          ].includes(order.status)
                        }"
                      >
                        {{ order.status }}
                      </span>
                    </td>
                    <td>
                      <button class="btn btn-info">Details</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <label for="cart">Cart</label>
              <table class="table table-responsive table-striped">
                <thead>
                  <tr>
                    <th>Product ID</th>
                    <th>Image</th>
                    <th colspan="2">Name</th>
                    <th colspan="2">Specifications</th>
                    <th>Quantity</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of productLineShow">
                    <td class="id">#{{ item.id }}</td>
                    <td>
                      <img [src]="item.imgURL" alt="{{ item.name }}" />
                    </td>
                    <td colspan="2">{{ item.name }}</td>
                    <td colspan="2">{{ item.describeProductLine }}</td>
                    <td>
                      <input
                        type="number"
                        class="form-control text-center"
                        [(ngModel)]="item.quantity"
                        disabled
                        style="width: 80%"
                      />
                    </td>
                    <td>
                      <button class="btn btn-info">Details</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <label for="wishlist">Wishlist</label>
              <table class="table table-responsive table-striped">
                <thead>
                  <tr>
                    <th colspan="1">Product ID</th>
                    <th>Image</th>
                    <th colspan="2">Name</th>
                    <th colspan="2">Price</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productDetailinWishlist">
                    <td class="id">#{{ product.id }}</td>
                    <td>
                      <img [src]="product.imgURL" alt="{{ product.name }}" />
                    </td>
                    <td colspan="2">{{ product.name }}</td>
                    <td colspan="2">{{ product.price }}</td>
                    <td colspan="2"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary mx-3" (click)="onSave()">
              Save Change
            </button>
            <button class="btn btn-danger" (click)="goBack()">Go Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
