<section>
  <div class="form-box">
    <div class="form-value">
      <form action="">
        <h2>Login</h2>
        <div class="inputbox">
          <fa-icon [icon]="faUser"></fa-icon>
          <input
            type="username"
            name="username"
            id="username"
            required
            [(ngModel)]="userName"
          />
          <label for="username">Username</label>
        </div>
        <div class="inputbox">
          <fa-icon [icon]="faLock"></fa-icon>
          <input
            type="password"
            name="password"
            id="password"
            required
            [(ngModel)]="passWord"
          />
          <label for="password">Password</label>
        </div>
        <!-- <div class="remember">
          <label for="rememberMe">
            <input type="checkbox" name="rememberMe" id="rememberMe" /> Remember
            Me
          </label>
        </div> -->
        <p>{{ errMessage }}</p>
        <button class="btn btn-outline-primary" (click)="Login(userName)">
          Log in
        </button>
      </form>
    </div>
  </div>
</section>
