* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: #e3f2fd;
}

.header__top > div {
  padding: 0px 85px;
  background-color: #2196f3;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header__search {
  width: 400px;
  margin: 13px 0;
  position: relative;
  box-shadow: 0.3px 0.3px 10px #423232;
}

.mobile__category {
  display: none;
}

.navibar {
  background-color: #2196f3;
  border-top: 1px solid #f3f1e4;
  height: 42px;
  text-align: center;
  overflow: hidden;
  min-width: max-content;
  margin: 0px;
}
.navibar > li {
  display: inline-block;
  width: 100px;
}
.navibar > li > a {
  font-size: 18px;
  color: #f3f1e4;
  text-decoration: none;
  line-height: 42px;
  padding: 0 16px;
  display: inline-block;
}
.navibar > li > a:hover,
fa-icon:hover {
  cursor: pointer;
  background-color: #f3f1e4;
  color: #2196f3;
}
.subnavi > li:hover a {
  cursor: pointer;
  background-color: #2196f3;
  color: #f3f1e4;
}
.container_search {
  display: none;
  z-index: 1;
}
.subnavi {
  list-style-type: none;
  display: block;
  min-width: 160px;
  text-align: left;
}
.navbar li:hover .subnavi {
  display: block;
}
.subnavi > li > a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 4px;
  font-size: 14px;
}
.subnavi h4 {
  margin: 0px;
  padding: 4px;
  text-align: left;
  margin-left: -4px;
  font-size: 16px;
}
.subnavi_container {
  display: flex;
  display: none;
  position: absolute;
  background-color: #f3f1e4;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subnavi_item {
  flex: 1;
}
.subnavi_item > ul {
  padding-left: 24px;
}
.navi_item:hover .subnavi_container {
  display: flex;
  z-index: 999;
}
/* responsive */
@media only screen and (max-width: 768px) {
  .header__top > div {
    padding: 0px;
    height: 50px;
  }
  .header__search {
    display: none;
  }

  .header__logo {
    margin-left: 30px;
  }

  /* css bar category */
  .mobile__category {
    display: block;
    width: 48px;
    text-align: center;
    margin: auto auto auto 20px;
    text-align: left;
  }
  /* css icon bên phải  */
  .container__heartCartUser {
    width: fit-content;
    margin: 8px 0px;
  }

  .container__heartCartUser a:nth-child(4) {
    display: none;
  }
  .container__heartCartUser a:nth-child(2) {
    display: none;
  }

  .mobile__category i {
    margin: auto;
    font-size: 28px;
    color: #f3f1e4;
  }
  .container__heartCartUser a:nth-child(3),
  .container__heartCartUser a:nth-child(1) {
    font-size: 22px;
    display: block;
    float: right;
    padding: 0px 16px;
    margin: 0;
  }
  .navibar {
    --display: none;
  }

  /* css search popup */
  .container_search {
    display: block;
  }
  .height {
    height: 100vh;
  }
}
