<header>
  <div style="overflow-x: auto">
    <ul class="navibar" style="padding-right: 2rem">
      <a routerLink="/general">
        <img
          src="../../assets/images/logo.svg"
          alt=""
          style="height: 40px; width: auto"
        />
      </a>
      <li>
        <a href="/general">Home</a>
      </li>
      <li class="navi_item">
        <a routerLink="/customers">Customer</a>
      </li>
      <li class="navi_item">
        <a routerLink="/orders">Order</a>
      </li>
      <li class="navi_item">
        <a routerLink="/products">Product</a>
        <div class="subnavi_container">
          <div class="subnavi_item">
            <ul class="subnavi">
              <li>
                <a routerLink="/products">All Products</a>
              </li>
              <li>
                <a routerLink="/product-new">Create Product</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="navi_item">
        <a routerLink="/contents">Content</a>
        <div class="subnavi_container">
          <div class="subnavi_item">
            <ul class="subnavi">
              <li>
                <a routerLink="/contents">All Contents</a>
              </li>
              <li>
                <a routerLink="/content-new">Create Content</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="navi_item">
        <a><fa-icon [icon]="faUser"></fa-icon></a>
        <div class="subnavi_container">
          <div class="subnavi_item">
            <ul class="subnavi">
              <li>
                <a routerLink="/change-pwd">Change password</a>
              </li>
              <li>
                <a routerLink="" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>
