* {
  font-family: "Kanit", sans-serif;
  color: #e3f2fd;
}
.id {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  color: #2196f3;
}

.container-title {
  background-image: linear-gradient(195deg, #90caf9, #2196f3);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #1565c0;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.title {
  text-align: center;
  text-transform: capitalize;
  padding-left: 1rem;
}

table {
  table-layout: fixed;
}
th {
  text-transform: uppercase;
  color: #7b809a;
  line-height: 1.25;
  font-weight: 700;
  opacity: 0.7;
  text-align: left;
  text-align: center;
}
h6.id {
  margin-bottom: 0 !important;
  line-height: 1.5;
}
tr td .customer-info {
  color: #7b809a !important;
  line-height: 1.25;
  font-weight: 600 !important;
}
tr td {
  vertical-align: middle !important;
  text-align: center;
}
tr td span,
tr td div div h6,
tr td div {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  display: inline-block;
  padding: 0.55em 0.9em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
}
.btn:hover {
  color: white;
}
.btn-info {
  box-shadow: 0 3px 3px 0 rgba(26, 115, 232, 0.15),
    0 3px 1px -2px rgba(26, 115, 232, 0.2), 0 1px 5px 0 rgba(26, 115, 232, 0.15);
  background-color: #1e88e5;
  border-color: #1e88e5;
}
.btn-info:hover {
  background-color: #1565c0;
  border-color: #1976d2;
  box-shadow: 0 14px 26px -12px rgba(26, 115, 232, 0.4),
    0 4px 23px 0 rgba(26, 115, 232, 0.15),
    0 8px 10px -5px rgba(26, 115, 232, 0.2);
}

:host ::ng-deep .ngx-pagination a,
:host ::ng-deep .ngx-pagination button,
:host ::ng-deep .ngx-pagination a:hover,
:host ::ng-deep .ngx-pagination button:hover {
  color: #0d47a1;
}
:host ::ng-deep .ngx-pagination li {
  border-radius: 50%;
}
:host ::ng-deep .ngx-pagination a:hover,
:host ::ng-deep .ngx-pagination button:hover {
  background: #e3f2fd;
  border-radius: 50%;
}
:host ::ng-deep .ngx-pagination .pagination-next a:hover,
:host ::ng-deep .ngx-pagination .pagination-previous a:hover {
  border-radius: 0;
}

.inputbox input {
  width: 80%;
  display: inline;
  text-align: left;
}
.inputbox fa-icon {
  font-size: 1.5em;
}
.sort button fa-icon {
  color: #7b809a;
  line-height: 1.25;
  font-weight: 700;
  font-size: 1.5em;
  opacity: 0.7;
}
.btn-x {
  font-size: 1em;
  position: absolute;
  right: 155px;
}
.btn-x fa-icon {
  color: #8c90a5;
}
.btn-x fa-icon:hover {
  color: #565969;
}
