<html>
  <section>
    <form action="">
      <div class="form-box">
        <div class="form-value">
          <form>
            <h2>Change Password</h2>

            <div class="inputbox">
              <fa-icon [icon]="faLock"></fa-icon>
              <input
                type="password"
                name="currentPassword"
                id="currentpassword"
                [(ngModel)]="currentPassword"
                required
              />
              <label for="currentPassword">Current Password</label>
            </div>
            <p>{{ message }}</p>

            <div class="inputbox">
              <fa-icon [icon]="faLock"></fa-icon>
              <input
                type="password"
                name="newPassword"
                id="newPassword"
                [(ngModel)]="newPassword"
                required
              />

              <label for="newPassword">New Password</label>
            </div>
            <div class="inputbox">
              <fa-icon [icon]="faLock"></fa-icon>
              <input
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                [(ngModel)]="confirmPassword"
                required
              />
              <label for="confirmPassword">Confirm Password</label>
            </div>
            <p>{{ confirmPassMessage }}</p>
            <button
              class="btn btn-outline-danger"
              id="changeBtn"
              (click)="changePassword()"
            >
              Change Password
            </button>
            <button class="btn btn-outline-secondary" (click)="goToLogin()">
              Cancel
            </button>
          </form>
        </div>
      </div>
    </form>
  </section>
</html>
